<div *transloco="let t">

  <!-- Spinner -->
  <div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>{{ t('table.title') }}</th>
      <td mat-cell *matCellDef="let item">{{ item.title }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numberQuestions">
      <th mat-header-cell *matHeaderCellDef>{{ t('table.numberQuestions') }}</th>
      <td mat-cell *matCellDef="let item">{{ item.numberQuestions }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>{{ t('table.code') }}</th>
      <td mat-cell *matCellDef="let item">{{ item.code }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ t('table.actions') }}</th>
      <td mat-cell *matCellDef="let element">
        <i class="fa-solid fa-magnifying-glass" [routerLink]="['/dashboard/view/', element.id]"></i>
        <i class="fa-solid fa-chart-line" [routerLink]="['/dashboard/statistics/', element.id]"></i>
        <i class="fa-solid fa-trash-can" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="selectItemToDelete(element.id!)"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>

  </table>

</div>
