/* You can add global styles to this file, and also import other style files */

/* Regular Style Toast */
@import '~ngx-toastr/toastr';

html, body { height: 100% !important; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(36 35 35 / 1) !important;
  color: #fff !important;
}
a {
  color: #fff !important;
}

.row {
  width: 100%;
}

.container {
  height: 100vh;
}

/* Buttons */
.main-button {
  font-size: 22px;
  width: 100% !important;
  height: 50px;
}

/* Icons */
.fa-eye {
  cursor: pointer;
}

/* Badge */
.badge-main {
  background-color: #437385;
  font-size: 15px !important;
}

/* FONTS */
.quizz-title {
  font-size: 28px;
  font-weight: bold;
}
.quizz-description {
  font-size: 24px;
}
.capital {
  text-transform: capitalize;
}
