<div  class="container d-flex justify-content-center align-items-center" *transloco="let t; read: 'signUp'">
  <!-- Spinner -->
  <div *ngIf="loading" class="d-flex justify-content-center">
    <app-spinner></app-spinner>
  </div>
  <!-- Register Form -->
  <mat-card *ngIf="!loading" class="animate__animated animate__fadeInLeft">
    <mat-card-title class="mb-4">{{ t('title') | titlecase }}</mat-card-title>
    <mat-card-subtitle>
      {{ t('description') }}
    </mat-card-subtitle>

    <form [formGroup]="form">
      <mat-card-content>
          <!-- Email -->
          <div class="d-flex flex-column mb-2">
            <mat-form-field appearance="fill">
              <input type="email" matInput  placeholder="Ex. pat@example.com" autocomplete="off" formControlName="email" required>
            </mat-form-field>
            <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
              {{ t('errorInvalidMail') }}
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
              {{ t('errorRequiredMail') }}
            </mat-error>
          </div>

          <!-- Password -->
          <div class="d-flex flex-column mb-2">
            <mat-form-field appearance="fill">
              <input [type]="inputType" matInput placeholder="Password" formControlName="password" required>
            </mat-form-field>
            <mat-error *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched">
              {{ t('errorShortPassword') }}
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
              {{ t('errorRequiredPassword') }}
            </mat-error>
          </div>

          <!-- Repeat Password -->
          <div class="d-flex flex-column">
            <mat-form-field appearance="fill">
              <input [type]="inputType" matInput placeholder="Repeat Password" formControlName="repeatPassword" required>
              <mat-icon matSuffix>
                <i (click)="passwordVisibility()" class="fa-solid" [ngClass]="{
                  'fa-eye-slash': visibility === true,
                  'fa-eye': visibility === false}"
                ></i>
              </mat-icon>
            </mat-form-field>
              <mat-error *ngIf="form.hasError('notSame') && form.get('repeatPassword')?.touched">
                {{ t('errornNotSamePass') }}
              </mat-error>
              <mat-error *ngIf="form.get('repeatPassword')?.hasError('required') && form.get('repeatPassword')?.touched">
                {{ t('errorRequiredPassword') }}
              </mat-error>
          </div>
      </mat-card-content>

      <mat-divider inset class="ms-0"></mat-divider>

      <!-- Action Buttons -->
      <mat-card-actions class="d-flex p-3 justify-content-between">
        <button mat-stroked-button type="button" routerLink="/auth/login">{{ t('buttonBack') | uppercase }}</button>
        <button mat-flat-button color="primary" type="submit" (click)="register()" (keyup.enter)="register()" [disabled]="form.invalid">{{ t('buttonSignUp') | uppercase }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

