<div class="container d-flex justify-content-center align-items-center">
  <mat-card @fadeIn>

    <mat-card-title class="mb-4 d-flex justify-content-between">
      <p>Verify Email</p>
      <mat-icon matSuffix >
        <i class="fa-solid fa-inbox"></i>
      </mat-icon>
    </mat-card-title>

    <mat-card-subtitle>
      An email was recently sent you. Please, check your inbox or your spam and then click on the link to verify your email.
    </mat-card-subtitle>

    <mat-divider inset></mat-divider>

    <mat-card-actions class="d-flex p-3 justify-content-between">
      <button mat-stroked-button routerLink="/auth/login">BACK</button>
    </mat-card-actions>

  </mat-card>
</div>
