<div class="container d-flex justify-content-center align-items-center" *transloco="let t; read: 'pageNotFound'">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ t('title') }}

      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../../assets/img/error404.svg" alt="{{ t('alt') }}">
    <mat-card-content>
      <p>
        {{ t('description') }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button [routerLink]="['/']">
        <i class="fa-solid fa-arrow-left-long"></i>
          <span class="ms-2">{{ t('buttonReturn') | uppercase }}</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
