<mat-stepper [linear]="isLinear" #stepper>

  <!-- Step 1 -->
  <mat-step>
    <ng-template matStepLabel>Data Questionnaire</ng-template>
    <div class="w-100">
      <app-create-questionnaire></app-create-questionnaire>
    </div>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [stepControl]="secondForm">
    <ng-template matStepLabel>Data Questions</ng-template>
    <div class="w-100">
      <app-create-questions (secondForm)="setSecondForm($event)"></app-create-questions>
    </div>
  </mat-step>

  <!-- Step Final -->
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
