<div class="d-flex flex-column">

    <div *ngFor="let question of listQuestions; let i = index" class="mb-3 d-flex justify-content-center">

        <!-- CARD INFO -->
        <mat-card class="w-75">
            <mat-card-title class="text-center" >{{ question.title }}</mat-card-title>

            <div class="d-flex justify-content-around">
                <span class="badge badge-main">{{ question.seconds }}s</span>
                <span class="badge badge-main">{{ question.score }}pts</span>
            </div>

            <mat-card-content>
                <ul>
                    <li *ngFor="let answer of question.listAnswers" [ngClass]="{ 'correct-answer': answer.isCorrect === true }" >
                        {{ answer.description }}
                    </li>
                </ul>
                <div class="mt-3">
                    <!-- Delete Question Button -->
                    <button mat-button (click)="openDialog()">
                        <i class="fas fa-trash" (click)="setIndexToDeleteItem(i)"></i>
                    </button>
                </div>
            </mat-card-content>

        </mat-card>

    </div>

    <!-- SAVE BUTTON -->
    <div class="mt-3 text-center" *ngIf="listQuestions.length > 0">
        <div class="col-lg-12">
            <button mat-flat-button class="btn btn-lg btn-finish" color="primary" (click)="createQuestionnaire()" type="submit" >FINISH</button>
        </div>
    </div>
</div>




